[Unit]
Description=gomac SNMP Monitor
After=network.target

[Service]
Type=simple
User=gomac
WorkingDirectory=/home/gomac/gomac
ExecStart=/home/gomac/gomac/gomac
Restart=always
EnvironmentFile=/home/gomac/gomac/.env

[Install]
WantedBy=multi-user.target
